"rules": {
  indentation: 2,
  linebreaks: "unix",
  max-empty-lines: 1,
  no-missing-end-of-source-newline: true,
  no-empty-first-line: true,

  at-rule-semicolon-space-before: never,
  at-rule-semicolon-newline-after: always,

  string-no-newline: true,

  block-no-empty: true,
  no-extra-semicolons: true,

  declaration-colon-newline-after: always-multi-line,
  declaration-colon-space-before: never,

  declaration-no-important: true,
  string-quotes: "double"
}
