- const links = ['Home', 'Features', 'Pricing'];

header.header
  nav.nav.container.container--header
    .logo.nav__logo
      span.logo__icon
        include ../../assets/img/logo.svg
      span.logo__content Giant
    .menu
      ul.menu__list
        each link in links
          li.menu__item
            a.menu__link(href=`/${link}`)=link
      button.button.menu__button(type="button") Download Now
