-
  const list = [
    'Unlimited colors: banner with images, slider or video',
    'Fully Responsive and powered by HTML5 and CSS3',
    'Very easy to customize : set up in minutes']

section.reasons
  .container.container--reasons
    .reasons__wrapper
      h2.title.title--reasons We don’t leave you stranded
      p.reasons__content.reasons__content--first
        | Everyone’s reasons for learning user interface design are different.
        | If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
      p.reasons__content.reasons__content--second
        | Everyone’s reasons for learning user interface design are different.
        | If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
        | If you’re already a developer, or a PM, or a UX designer.
      ul.reasons__list
        each item in list
          li.reasons__item
            .reasons__icon
              include ../../assets/img/check-circle.svg
            span.reasons__content.reasons__content--third=item
