section.screenshots
  .container.container--screenshots
    h2.title.title--screenshots Take a look at our screenshots
    p.screenshots__content
      | Everyone’s reasons for learning user interface design are different.
      | If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
    .screenshots__slider
      ul.screenshots__list
        li.screenshots__item
          img.screenshots__img(src="/assets/img/screenshots-first.jpg", alt="slide 1" width="320" heigth="500")
      .screenshots__controls
        button.screenshots__button.screenshots__button--prev(id="prev" type="button") previous
        button.screenshots__button.screenshots__button--next(id="next" type="button") next


