section.screenshots
  .container.container--screenshots
    h2.title.title--screenshots Take a look at our screenshots
    p.screenshots__content
      | Everyone’s reasons for learning user interface design are different.
      | If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
    .slider
      ul.screenshots__list
        li.screenshots__item
          img.screenshots__img(src="/assets/img/screenshots-first.jpg", alt="slide 1" width="320")
      .slider__controls
        button.slider__button.slider__button--prev(id="screenshots-prev" type="button") previous
          span.slider__icon.slider__icon--prev
            include ../../assets/img/arrow.svg
        button.slider__button.slider__button--next(id="screenshots-next" type="button") next
          span.slider__icon.slider__icon--next
            include ../../assets/img/arrow.svg


