section.video
  h2.visually-hidden Video
  .video__container
    video
      source(src="#" type="video/webm")
      source(src="#" type="video/mp4")
    button.video__button(id="play" type="button") play
