mixin joinSVG(path)
  if path==="facebook"
    include ../../assets/img/facebook.svg
  else if path==="twitter"
    include ../../assets/img/twitter.svg
  else if path==="dribbble"
    include ../../assets/img/dribbble.svg
  else if path==="behance"
    include ../../assets/img/behance.svg

  else if path==="tags"
    include ../../assets/img/tags.svg
  else if path==="fire-extinguisher"
    include ../../assets/img/fire-extinguisher.svg
  else if path==="cog"
    include ../../assets/img/cog.svg
  else if path==="file-alt"
    include ../../assets/img/file-alt.svg
  else if path==="paint-brush"
    include ../../assets/img/paint-brush.svg
  else
    include ../../assets/img/life-ring.svg
