extends ../layout/main

block variables
  - const title = 'Krayt';
  - const description = 'test'
  - const keywords = 'test, landing page'

block content
  include ../modules/header
  include ../modules/banner
  include ../modules/features
  include ../modules/reasons
