@font-face {
  font-family: "robotolight";
  src: local("Roboto Light"),
    url("/assets/fonts/Roboto/roboto-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "robotoregular";
  src: local("Roboto"),
    url("/assets/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "robotomedium";
  src: local("Roboto Medium"),
    url("/assets/fonts/Roboto/roboto-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dosis";
  src: local("Dosis"),
    url("/assets/fonts/Dosis/dosis-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
