$tablet-width: 650px;
$desktop-width: 1200px;

$mainFont: "robotolight", "Helvetica", sans-serif;
$mainFontSize: 14px;
$mainLineHeight: 24px;
$mainColor: #777;
$mainBGColor: #fff;

$btnFont: "robotomedium", "Helvetica", sans-serif;
$btnFontSize: 14px;
$btnLineHeigth: 24px;
$btnColor: #222;
$btnBGColor: #fff;

$titleFont: "dosis", "Helvetica", sans-serif;
$titleFontWeigth: medium;
$titleColor: #222;
