.menu {
  display: flex;
  flex-flow: column;
}

.menu__list {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.menu__item {
  width: 100%;
  margin-bottom: 10px;
}

.menu__link {
  display: block;
  padding: 0 10px;

  font-family: "robotoregular", "Helvetica", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #ffffff;

  &:hover,
  &:focus {
    color: $hoveredColor;
  }

  &:visited {
    color: $visitedColor;
  }
}

.menu__button {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .menu {
    flex-flow: row;
  }

  .menu__list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .menu__item {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
