.screenshots {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #f7fafc;
}

.screenshots__content {
  margin-bottom: 70px;
}

.screenshots__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.screenshots__img {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .screenshots__content {
    width: 660px;
    margin: 0 auto 70px auto;
  }
}

@media (min-width: $desktop-width) {
  .screenshots__item {
    width: 1140px;
    height: 500px;

    background-image: url("/assets/img/screenshots-bg.png");
  }

  .screenshots__img {
    display: none;
  }
}
