.slider__controls {
  display: none;
}

@media (min-width: $desktop-width) {
  .slider {
    position: relative;
  }

  .slider__controls {
    position: absolute;
    top: 50%;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .slider__button {
    position: absolute;

    width: 40px;
    height: 40px;
    padding: 0;

    font-size: 0px;
    line-height: 0px;

    background-color: #fff;

    background-repeat: no-repeat;

    border: 3px solid #f7fafc;

    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &::before {
      content: url("/assets/img/arrow.svg");

      position: absolute;
      left: 11px;

      width: 14px;
      height: 7px;
    }

    &--prev::before {
      top: 18px;

      transform: rotate(180deg);
    }

    &--next::before {
      top: 10px;
    }

    &:focus,
    &:hover {
      background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    }
  }
}

@media (min-width: 1300px) {
  .slider__button {
    &--prev {
      left: -50px;
    }

    &--next {
      right: -50px;
    }
  }
}
