.slider__controls {
  display: none;
}

@media (min-width: $desktop-width) {
  .slider {
    position: relative;
  }

  .slider__controls {
    position: absolute;
    top: 50%;

    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .slider__button {
    position: absolute;

    width: 40px;
    height: 40px;
    padding: 0;

    font-size: 0px;
    line-height: 0px;

    background-color: #fff;

    background-repeat: no-repeat;

    border: 3px solid #f7fafc;

    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &:focus,
    &:hover {
      color: #fff;

      background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    }
  }

  .slider__icon {
    position: absolute;

    display: block;

    width: 23px;
    height: 11px;

    &--prev {
      left: 5px;
      top: 19px;

      transform: rotate(180deg);
    }

    &--next {
      left: 7px;
      top: 4px;
    }
  }
}

@media (min-width: 1300px) {
  .slider__button {
    &--prev {
      left: -50px;
    }

    &--next {
      right: -50px;
    }
  }
}
