.title {
  margin-top: 0;

  font-weight: $titleFontWeigth;
  font-family: $titleFont;
  text-align: center;
  color: $titleColor;

  &--features {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 24px;
  }

  &--reasons {
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 36px;
  }

  &--pricing {
    text-align: center;
  }

  &--box-pricing {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .title {
    &--features,
    &--reasons {
      text-align: left;
    }
  }
}
