.title {
  margin-top: 0;

  font-weight: $titleFontWeigth;
  font-family: $titleFont;
  color: $titleColor;

  &--features {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }

  &--reasons {
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .title {
    text-align: left;

    &--screenshots {
      text-align: center;
    }
  }
}
